{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>

    <table class="table table-striped">
        {% for statusCode, statusLabel in constant('App\\Entity\\Todo::STATUSES') %}
            <tr>
                <td colspan="4">
                    <span class="label
                    {% if statusCode == 'COMPLETE' %}
                        label-success
                    {% else %}
                        label-info
                    {% endif %}
                    ">{{ statusLabel }}</span>
                </td>
            </tr>
            {% for todo in todos %}
                {% if todo.status == statusCode %}
                <tr>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                            </button>
                                <ul class="dropdown-menu">
                                    {% for optionStatusCode, optionStatusLabel in constant('App\\Entity\\Todo::STATUSES') %}
                                        {% if optionStatusCode != statusCode %}
                                         <li>
                                            <form method="post" action="{{ app.request.baseurl }}/todo/status/{{ todo.id }}">
                                                <button type="submit" class="btn btn-link" name="status" value="{{ optionStatusCode }}">
                                                    {{ optionStatusLabel }}
                                                </button>
                                            </form>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                        </div>
                    </td>
                    <td colspan="2">
                        <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}">
                           {{ todo.description }}
                        </a>
                    </td>
                    <td align="right">
                        <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
                            <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                        </form>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <tr>
            <form method="post" action="{{ app.request.baseurl }}/todo/add">
                <td colspan="3">
                    <div class="form-group has-error">
                        <input type="textbox" name="description" class="small-6 small-center" placeholder="Description..." id="description">
                        {% if app.session.flashbag.has('descriptiontError') %}
                           <span class="help-block">
                               {{ app.session.flashbag.get('descriptiontError').0 }}
                           </span>
                        {% endif %}
                    </div>
                </td>
                <td align="right">
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
</div>
{% endblock %}