{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo:</h1>
    <table class="table table-striped">
        <th>Status</th><th>Description</th><th></th>
        <tr>
            <td>
                <div class="btn-group">
                    <button type="button"
                        class="btn btn-xs dropdown-toggle
                            {% if todo.status == 'COMPLETE' %}
                                btn-success
                            {% else %}
                                btn-info
                            {% endif %}
                        " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       {{ attribute(constant('App\\Entity\\Todo::STATUSES'), todo.status) }} <span class="caret"></span>
                    </button>
                        <ul class="dropdown-menu">
                            {% for optionStatusCode, optionStatusLabel in constant('App\\Entity\\Todo::STATUSES') %}
                                {% if optionStatusCode != todo.status %}
                                 <li>
                                    <form method="post" action="{{ app.request.baseurl }}/todo/status/{{ todo.id }}">
                                        <button type="submit" class="btn btn-link" name="status" value="{{ optionStatusCode }}">
                                            {{ optionStatusLabel }}
                                        </button>
                                    </form>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                </div>
            </td>
            <td>{{ todo.description }}</td>
            <td>
                <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
                    <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                </form>
            </td>
        </tr>
    </table>
</div>
{% endblock %}

